@require "../../stylus/index.styl";

.oui-day {
  ._dateselect {
    use: stack-x;
  }
}

.oui-day-teleport {
  // Styling kann über v-calendar angepasst werden
}

.oui-day-footer {
  use: stack-x;
  border-top: 1px solid var(--oui-border-color);
  padding: 0.5rem;
  gap: 0.5rem;
}
